{% extends 'main/layoult.html' %}

{%block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam suscipit aspernatur necessitatibus iure exercitationem saepe debitis minima molestiae? Magni nesciunt eveniet autem enim debitis alias unde quibusdam praesentium. Fugit, commodi.</p>
        <button class="btn btn-warning">Enter in the about</button>
    </div>
{% endblock %}